.header {
  width: 100%;
  height: 8%;
  display: flex;
}

.margin {
  width: 10%;
  height: 100%;
}

.title {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.navbar {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 24px;
}

.navbar p {
  cursor: pointer;
  transition-duration: 0.2s;
}

.navbar p:hover {
  font-size: 20px;
}

p {
  font-family: "Monaco", monospace;
  font-size: 18px;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.container p {
  font-family: "Monaco", monospace;
  font-weight: normal;
  font-size: 16px;
}

button {
  width: 100%;
}

input,
button {
  font-family: "Monaco", monospace;
}
