<div class="header">
  <div class="margin"></div>
  <div class="title"><p>PROJECT MANAGER</p></div>
  <div class="navbar">
    <p (click)="goHome()">HOME</p>
    <p (click)="goAddProject()">ADD PROJECT</p>
    <p (click)="goViewProjects()">VIEW PROJECTS</p>
    <p (click)="signOut()">SIGN OUT</p>
  </div>
  <div class="margin"></div>
</div>
<div class="container">
  <h1>Project Manager</h1>
  <p>helps you to manage your projects efficiently</p>
  <div class="buttons">
    <div class="btn" (click)="goAddProject()">Add Project</div>
    <div class="btn" (click)="goViewProjects()">View Projects</div>
  </div>
</div>
